In [13]:
import requests
import pandas as pd
#import fsspec
from datetime import datetime, timedelta
from io import StringIO
import time
import numpy as np
import time
from ast import literal_eval
import json

In [62]:
dfWork = pd.read_csv('29000_samples.csv')

In [63]:
def fix_json(bad_json):
    tmp = bad_json.replace('\'', '\"')
    good_json = '{\"result\":' + tmp + '}'
    return good_json

In [64]:
dfWork['player_0'] = dfWork['player_0'].apply(fix_json)
dfWork['player_1'] = dfWork['player_1'].apply(fix_json)
dfWork['player_2'] = dfWork['player_2'].apply(fix_json)
dfWork['player_3'] = dfWork['player_3'].apply(fix_json)
dfWork['player_4'] = dfWork['player_4'].apply(fix_json)
dfWork['player_5'] = dfWork['player_5'].apply(fix_json)
dfWork['player_6'] = dfWork['player_6'].apply(fix_json)
dfWork['player_7'] = dfWork['player_7'].apply(fix_json)
dfWork['player_8'] = dfWork['player_8'].apply(fix_json)
dfWork['player_9'] = dfWork['player_9'].apply(fix_json)

In [65]:
def get_net_worth(player_json):
    return int(json.loads(player_json)['result']['net_worth'])

In [66]:
dfWork['player_0_net_worth'] = dfWork['player_0'].apply(get_net_worth)
dfWork['player_1_net_worth'] = dfWork['player_1'].apply(get_net_worth)
dfWork['player_2_net_worth'] = dfWork['player_2'].apply(get_net_worth)
dfWork['player_3_net_worth'] = dfWork['player_3'].apply(get_net_worth)
dfWork['player_4_net_worth'] = dfWork['player_4'].apply(get_net_worth)
dfWork['player_5_net_worth'] = dfWork['player_5'].apply(get_net_worth)
dfWork['player_6_net_worth'] = dfWork['player_6'].apply(get_net_worth)
dfWork['player_7_net_worth'] = dfWork['player_7'].apply(get_net_worth)
dfWork['player_8_net_worth'] = dfWork['player_8'].apply(get_net_worth)
dfWork['player_9_net_worth'] = dfWork['player_9'].apply(get_net_worth)

In [74]:
dfWork['team_0_sum_nw'] = dfWork['player_0_net_worth'] + dfWork['player_1_net_worth'] + dfWork['player_2_net_worth'] + dfWork['player_3_net_worth'] + dfWork['player_4_net_worth']
dfWork['team_1_sum_nw'] = dfWork['player_5_net_worth'] + dfWork['player_6_net_worth'] + dfWork['player_7_net_worth'] + dfWork['player_8_net_worth'] + dfWork['player_9_net_worth']

In [77]:
dfWork['player_0_%_nw'] = dfWork['player_0_net_worth'] / dfWork['team_0_sum_nw'] * 100
dfWork['player_1_%_nw'] = dfWork['player_1_net_worth'] / dfWork['team_1_sum_nw'] * 100
dfWork['player_2_%_nw'] = dfWork['player_2_net_worth'] / dfWork['team_2_sum_nw'] * 100
dfWork['player_3_%_nw'] = dfWork['player_3_net_worth'] / dfWork['team_3_sum_nw'] * 100
dfWork['player_4_%_nw'] = dfWork['player_4_net_worth'] / dfWork['team_4_sum_nw'] * 100
dfWork['player_5_%_nw'] = dfWork['player_5_net_worth'] / dfWork['team_5_sum_nw'] * 100
dfWork['player_6_%_nw'] = dfWork['player_6_net_worth'] / dfWork['team_6_sum_nw'] * 100
dfWork['player_7_%_nw'] = dfWork['player_7_net_worth'] / dfWork['team_7_sum_nw'] * 100
dfWork['player_8_%_nw'] = dfWork['player_8_net_worth'] / dfWork['team_8_sum_nw'] * 100
dfWork['player_9_%_nw'] = dfWork['player_9_net_worth'] / dfWork['team_9_sum_nw'] * 100

In [78]:
dfWork

,Unnamed: 0,match_id,start_time,league_id,radiant_win,duration,player_0,player_1,player_2,player_3,...,player_3_net_worth,player_4_net_worth,player_5_net_worth,player_6_net_worth,player_7_net_worth,player_8_net_worth,player_9_net_worth,team_0_sum_nw,team_1_sum_nw,player_0_%_nw
0,0,909614535,1411238761,1761,False,1816,"{""result"":{""account_id"": 49317728, ""player_slo...","{""result"":{""account_id"": 12231202, ""player_slo...","{""result"":{""account_id"": 38628747, ""player_slo...","{""result"":{""account_id"": 50828662, ""player_slo...",...,4419,7910,5617,21110,14731,11395,6855,40143,59708,24.624468
1,1,909523648,1411236053,1761,True,1351,"{""result"":{""account_id"": 89137399, ""player_slo...","{""result"":{""account_id"": 26316691, ""player_slo...","{""result"":{""account_id"": 86750262, ""player_slo...","{""result"":{""account_id"": 94338967, ""player_slo...",...,8127,5331,6761,7049,7433,4929,2426,43263,28598,21.237547
2,2,909155180,1411226737,1761,True,1888,"{""result"":{""account_id"": 94049589, ""player_slo...","{""result"":{""account_id"": 89625472, ""player_slo...","{""result"":{""account_id"": 70388657, ""player_slo...","{""result"":{""account_id"": 11550182, ""player_slo...",...,8182,10882,4978,10702,10013,11543,3773,59599,41009,15.090857
3,3,909024942,1411223777,1761,False,1876,"{""result"":{""account_id"": 88271237, ""player_slo...","{""result"":{""account_id"": 29337472, ""player_slo...","{""result"":{""account_id"": 40013910, ""player_slo...","{""result"":{""account_id"": 16769223, ""player_slo...",...,10024,3850,10506,19426,12515,7908,18038,50476,68393,23.581504
4,4,908871129,1411220388,1761,True,2007,"{""result"":{""account_id"": 21265941, ""player_slo...","{""result"":{""account_id"": 72312627, ""player_slo...","{""result"":{""account_id"": 24009418, ""player_slo...","{""result"":{""account_id"": 8712306, ""player_slot...",...,12353,14395,15528,2851,7818,9572,7160,72205,42929,12.058722
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28725,28725,4784706293,1558847050,10684,False,1890,"{""result"":{""account_id"": 97048475, ""player_slo...","{""result"":{""account_id"": 102070845, ""player_sl...","{""result"":{""account_id"": 197098235, ""player_sl...","{""result"":{""account_id"": 112297739, ""player_sl...",...,10749,5587,7940,11278,15270,16962,15008,38083,66458,28.112281
28726,28726,4785255999,1558859409,10684,True,1322,"{""result"":{""account_id"": 89603649, ""player_slo...","{""result"":{""account_id"": 66598119, ""player_slo...","{""result"":{""account_id"": 76904792, ""player_slo...","{""result"":{""account_id"": 89654154, ""player_slo...",...,14482,13951,5936,1445,7449,3409,7524,51791,25763,11.982777
28727,28727,4764601569,1558242178,10684,True,2472,"{""result"":{""account_id"": 126323933, ""player_sl...","{""result"":{""account_id"": 154223815, ""player_sl...","{""result"":{""account_id"": 173378701, ""player_sl...","{""result"":{""account_id"": 92620439, ""player_slo...",...,9272,17977,15008,6583,20119,2220,17287,83570,61217,15.154960
28728,28728,4761673026,1558168496,10684,True,2931,"{""result"":{""account_id"": 121833213, ""player_sl...","{""result"":{""account_id"": 94762375, ""player_slo...","{""result"":{""account_id"": 323792491, ""player_sl...","{""result"":{""account_id"": 100895600, ""player_sl...",...,35955,12639,13246,2970,26018,20100,16529,101500,78863,20.755665
28729,28729,4764477860,1558238709,10684,True,1864,"{""result"":{""account_id"": 92620439, ""player_slo...","{""result"":{""account_id"": 126323933, ""player_sl...","{""result"":{""account_id"": 154223815, ""player_sl...","{""result"":{""account_id"": 173378701, ""player_sl...",...,16329,11751,12876,4992,8618,2040,13773,61373,42299,6.118326

In [71]:
dfWork.loc[0]

Unnamed: 0                                                            0
match_id                                                      909614535
start_time                                                   1411238761
league_id                                                          1761
radiant_win                                                       False
duration                                                           1816
player_0              {"result":{"account_id": 49317728, "player_slo...
player_1              {"result":{"account_id": 12231202, "player_slo...
player_2              {"result":{"account_id": 38628747, "player_slo...
player_3              {"result":{"account_id": 50828662, "player_slo...
player_4              {"result":{"account_id": 44111721, "player_slo...
player_5              {"result":{"account_id": 89137399, "player_slo...
player_6              {"result":{"account_id": 26316691, "player_slo...
player_7              {"result":{"account_id": 86750262, "player_slo...
player_8              {"result":{"account_id": 94338967, "player_slo...
player_9              {"result":{"account_id": 106809101, "player_sl...
player_0_net_worth                                                 9885
player_1_net_worth                                                10335
player_2_net_worth                                                 7594
player_3_net_worth                                                 4419
player_4_net_worth                                                 7910
player_5_net_worth                                                 5617
player_6_net_worth                                                21110
player_7_net_worth                                                14731
player_8_net_worth                                                11395
player_9_net_worth                                                 6855
Name: 0, dtype: object

In [73]:
for i in range(0, 10):
    string = 'player_' + str(i) + '_net_worth'
    print(dfWork[string].mean())

10987.28388444135
13116.96675948486
12866.591124260354
12041.521754263837
12274.7501566307
11071.908910546466
13101.09477897668
12818.86613296206
12228.257431256527
12479.611590671771